/*обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}


*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}


nav,
footer,
header,
aside {
  display: block;
}


html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}


input,
button,
textarea {
  font-family: inherit;
}


input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*подключение шрифтов*/

@font-face {
  font-family: 'AkzidenzGroteskBQ-BdCnd';
  src: url('../fonts/AkzidenzGrotesk-BoldCond.eot');
  src: local('☺'), url('../fonts/AkzidenzGrotesk-BoldCond.woff') format('woff'), url('../fonts/AkzidenzGrotesk-BoldCond.ttf') format('truetype'), url('../fonts/AkzidenzGrotesk-BoldCond.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PTSans';
  src: url('../fonts/PTS55F.eot');
  src: local('☺'), url('../fonts/PTS55F.woff') format('woff'), url('../fonts/PTS55F.ttf') format('truetype'), url('../fonts/PTS55F.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}


/*body*/

body{
  font-family: "Akzidenz Grotesk BQ - Bd Cnd",sans-serif;
  font-size: 15px;
  color: #000000;
}

/*container*/

.container{
  width: 100%;
  max-width: 882px;
  margin: 0 auto;
  padding: 0 15px;
}

/*header*/

.header{
  display: flex;
  justify-content:space-between;
  margin: 30px 0;
}


.header__languages{
  display:flex;
  width: 100%;
  margin-bottom: 38px;
  font-family:'Bebas Neue',sans-serif;
  font-size: 10px;
  text-align: left;
  text-transform: uppercase;
  color: #000000;


}

.header__link,.header__link-tel{
 color: #000000;
}

.header__link:hover,.header__link-tel:hover{
  color: white; 
  background: black;
}

.header__list:hover{
  color: #FF4500;

}


.header__menu{
  display:flex;
  text-transform: uppercase;
  font-family: "Akzidenz Grotesk BQ - Bd Cnd",sans-serif;
  letter-spacing: 1.5px;
  

}

.header__menu-mobile{
  display: none;
}


.header__mobile-icon{
  width: 10%;
}



.header__en{
  margin-right: 24px;

}

.header__about,.header__menus{
  margin-right: 30px;
}

.header__logo{

width: 100%;
height: 100%;
}


.header__oder{
  text-align: right;
  text-transform: uppercase;
  margin-bottom: 30px;
  
}

.header__link-tel{
  border-bottom: 1px solid #000;
  font-size: 15px;
  line-height: 1;
}

.header__contact,.header__friends{
  margin-left:30px;
}


/*food*/


.food{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.food__icon-left{
  width: 50%;
}

.food__foto{
 background-size: cover;
}



.food__icon-right{
 background-color: #000000;
 width:50%;
}

.food__title{
  color: #ffffff;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 50px;
  margin-bottom: 30px;
  line-height: 50px;


}

.food__about{
  margin-top: 65px;
  margin-left: 55px;
}



.food__text{
  color: #ffffff;
  font-family: "PT Sans",sans-serif;
  text-align: left;
  max-width: 303px;
  line-height: 25px;
}

.food__oder{
  display: flex;
}

.food__btn{
  margin-top: 35px;
  padding-bottom: 2%
}

.food__btntext{
  color: #000000;
}

.food__btntext:hover{
  text-shadow:2px 2px 2px #000000;
}

.food__button{
  color: #000000;
  font-family: Bebas,sans-serif;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  padding: 18px 30px;
}

.food__link{
  margin-top: 50px;
  margin-left: 15px;
  
}

.food__menus{
  color: #fffffe;
  font-family: Bebas,sans-serif;
  text-decoration: underline;
  text-transform: uppercase;
}

/*menu*/

.menu{
  display: flex;
  margin-top: 74px;
  justify-content: space-between;
}

.menu__item{
  width: 25%;
}

.menu__card{
  width: 100%;
}

.menu__title{
  margin-top: 25px;
  font-size: 25px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
}

.menu__text{
  width: 175px;
  margin-top: 33px ;
  font-family: "PT Sans",sans-serif;
  line-height: 25px;
  text-align: left;
}

.menu__btn{
  margin-top: 35px;
  width: 155px;
  height: 50px;
  background-color: #000000;
}

.menu__btn:hover{
  box-shadow: 5px 5px 10px #000000;
}

.menu__btnlink{
  color: #ffffff;
  font-family: Bebas;
  line-height: 25px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.menu__link{
  font-family: Bebas,sans-serif;
  line-height: 25px;
  text-align: left;
  text-decoration: underline;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  margin-top: 27px;
}

.menu__href{
  color: #000000;
}

.menu__href:hover{
  background: #000000;
  color:white;
}

.menu__link:hover{
  text-decoration: none;
}

/*choose*/

.choose{
  display: flex;
  margin-top: 77px;
  margin-bottom: 45px;
  width: 100%;

}

.choose__item{
  width: 49%;
}

.choose__black,
.choose__image{
  width: 100%;
}

.choose__text{
  color: #ffffff;;
  font-size: 50px;
  text-transform: uppercase;
  letter-spacing: 5px;
  margin-top: -15%;
  text-align:center;

}

/*interpretation*/

.grey{
  background-color: #ebebeb;

}

.interpretation{
  margin-bottom: 83px;
  display: flex;
  
}

/*.interpretation__part{
  width: 50%;
}*/

.interpretation__item{
  display: flex;
  margin-bottom: 7%;
}

.interpretation__img{
width: 100px;
height: 100px;
background-color: #030303;
padding: 17px;
}

.interpretation__inf0{
  margin-left: 10px;
  margin-right: 30px;
}

.interpretation__title{
  font-size: 20px;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 15px;
}
   
.interpretation__text{
  font-family: "PT Sans",sans-serif;
  line-height: 25px;
  text-align: left;
}


/*footer*/

.footer__title{
  font-size: 50px;
  line-height: 25px;
  text-align: left;
  letter-spacing: 5px;
  margin-bottom: 33px;
  padding-top: 5%;
}

.footer__contact{
  display: flex;
  margin-bottom: 27px;
  justify-content: space-between;
}

.footer__adress{
  display:flex;
}

.footer__text{
  font-family: "PT Sans",sans-serif;
  text-align: left;
  margin-top: 8px;
  margin-left: 12px;
}

.footer__email{
  display: flex;
}

.footer__email-text{
  margin-left: 10px;
  font-family: "PT Sans",sans-serif;
}

.footer__contactright{
  padding-right: 25%;
}

.footer__tel{
  display: flex;
  margin-top: 22px;
}

.footer__tel-number{
  margin-top: 6px;
  margin-left: 5px;
  font-family: "PT Sans",sans-serif;
}

.footer_paragraph-btn{
  padding-bottom: 3%;
}

.footer__socialnetworks{
  display: flex;
  margin-top: 30px;
}

.footer__social-icon{
  margin-right: 30px;
}

.footer__item{
  display: flex;
  width: 100%;
}

.footer__maps{
  width: 50%;  
}

.footer__map-image{
  width: 100%;
  height: 100%;
}


.footer__form{
  background-color: #000000;
  width: 50%;

}

.footer__form-all{
  margin-top: 35px;
  margin-left: 60px;


}

.footer__form-name{
  color: #ffffff;
  font-size: 25px;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  margin-bottom: 28px;
}

.footer_paragraph-area{
  border: 2px solid #959595;
  background-color: #252525;
  width: 60%;
  height: 95px;;
  margin-bottom: 28px;
}


.footer_paragraph{
  border: 2px solid #959595;
  background-color: #252525;
  width: 60%;
  height: 48px;;
  margin-bottom: 28px;
}

.footer__input,.footer__textarea{
  color: #959595;
  font-family: "PT Sans";
  text-align: left;
  background-color: #252525;
  margin-top:14px;
  margin-left:15px;
  width: 90%;
}

.footer__textarea{
  resize:none;
  width: 90%;

  
}

.footer__btn{
  width: 155px;
  height: 50px;
  background-color: #ffffff;
  color: #000000;
  font-family: Bebas,sans-serif;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  cursor: pointer;
  padding-top:3px;
  text-align:center;
  }

  .footer__btn:hover{
    text-shadow: 3px 3px 3px #000000;
  }

  .footer__bottom{
    display: flex;
    margin-top:59px;
    padding-bottom: 53px;
    justify-content: space-between;
  }

  

  .footer_underline{
    text-decoration:underline;
  }

/*медиа запросы*/

@media screen and (max-width: 1230px){
  .choose__text {
  font-size: 40px;
  }

.interpretation {
  margin-bottom: 53px;
  }
  }

@media screen and (max-width: 990px){

/*header*/

.header__oder {
  margin-bottom: 20px;
    }

.header__contact,.header__friends {
  margin-left: 20px;
  }

.header__languages {
  margin-bottom: 28px;
  }

.header__about, .header__menus {
  margin-right: 20px;
  }

  /*menu*/

.menu {
  margin-top: 44px;
  }

.menu__text {
  margin-top: 23px;
  }

.menu__btn {
  margin-top: 25px;
  height: 40px;
    
  }

.menu__title {
  margin-top: 20px;
  font-size: 20px;

  }

.menu__link {
  margin-top: 17px;
  }

  /*food*/

.food__title {
  font-size: 40px;
  margin-bottom: 20px;
}

.food__btn {
  margin-top: 15px;
  }

.food__button {
  padding: 10px 20px;
  margin-bottom: 30px;
}

.food__link {
  margin-top: 25px;
}

.food__icon-right{
  height: 70%;
}

.food__foto {
  height: 100%;
}

.food__about {
  margin-top: 35px;
}

.header__menu{
  padding-right: 15px;
}

.header__left{
  padding-left: 15px;
}

.header__logo {
  width: 90%;
}


/*choose*/

.choose {
  margin-top: 47px;
  margin-bottom: 25px;
    
  }

.choose__text {
  font-size: 30px;
  }

/*interpretation*/

.interpretation__title {
  font-size: 18px;
  margin-bottom: 10px;
  }

.interpretation {
  margin-bottom: 23px;
  }
  
 .interpretation__item {
   height: 40%;
}

/*footer*/

.footer__title {
  font-size: 30px;
  margin-bottom: 23px;
  }

.footer_paragraph {
  height: 38px;
  margin-bottom: 18px;
  }

.footer__input, .footer__textarea {
  margin-top: 8px;
  margin-left: 10px;
  }

.footer_paragraph-area,
.footer_paragraph{
   width: 80%;
  }

.footer__btn {
  width: 80%;
  height: 30px;
  }

.footer_paragraph-btn{
  margin-bottom: 25px;
  }

.footer__bottom-right{
  padding-right: 15px;
  }

.footer__bottom-left{
  padding-left: 15px;
  }
  
  .footer__contactright {
    padding-right: 20%;
}


  }

@media screen and (max-width: 770px){
    
/*header*/

.header__menu{
  display: block;
}

.header__contact, .header__friends {
  margin-left:0px;
}

.header__about,.header__menus,
.header__gallery,.header__friends,
.header__contact,.header__contact {
    margin-bottom: 10px;
    text-align: center;
    
}

/*food*/

.food__about {
  margin-top: 25px;
  margin-left: 25px;
}

.food__title {
  font-size: 30px;
  margin-bottom: 10px;
  letter-spacing: 3px;
  margin-bottom: 10px;
  line-height: 40px;
}

.food__text {
  max-width: 240px;
}

.food__button {
  padding: 10px 10px;
  margin-bottom: 20px;
}

.food__link{
  font-size: 12px;
}

/*menu*/

.menu__text {
  margin-top: 14px;
  width: 90%;
  height: 35%;
}

.menu__title {
  margin-top: 15px;
  font-size: 20px;
  text-transform: none;
  width: 23%;
  height: 10%;
}

.menu__btn {
  height: 30px;
  width: 90%;
}

.menu__link {
  padding-bottom: 30%;
}

/*choose*/

.choose {
  margin-top: 10%;
    }
  
 .choose__text {
   font-size: 120%;
}
 
 

/*interpretation*/

.interpretation__img,
.interpretation__imgtop {
    width: 70px;
    height: 70px;
}

.interpretation__title {
  height: 30px;
}

.interpretation__item {
  height: 50%;
  padding-left: 20px;
  padding-bottom: 10%;
}


/*footer*/

.footer__form-all {
  margin-top: 25px;
  margin-left: 30px;
}

.footer__form-name {
  margin-bottom: 18px;
}

.footer_paragraph-area, .footer_paragraph {
  width: 90%;
}

.footer_paragraph {
  height: 35px;
    
}

.footer_paragraph-area {
  height: 75px;
  margin-bottom: 18px;
}

.footer__btn {
  width: 70%;
  height: 25px;
}

.footer__bottom {
  margin-top: 39px;
  padding-bottom: 43px;
    
}
  
 .footer__contactright {
   padding-right: 10%;
}
  
 .footer__bottom-left {
   width: 50%;
}
  
 .footer__bottom-right {
   width: 50%;
   padding-left: 5%;
}
  
 .footer__left-img{
   width: 50%;
  }
  
  .footer__social-img{
    width: 80%;
  }
  }

@media screen and (max-width: 575px){

/*header*/

.header {
  margin-top: 30px;
  margin-bottom: 0px;
}

.header__menu-mobile{
  display: block;
}

.header__oder{
 margin-top: 10px;
}

.header__menu{
  display: none;
}

.header__mobile-href:hover + .header__mobile-list{
  display: block;
  
}

.header__mobile-href:hover .header__center{
  display: none;
}
  
.header__left {
  width: 25%;
}
  
.header__center{
  padding-bottom: 1%;
  }

.header__logo {
  width: 80%;
}

.header__mobile-icon {
    width: 30%;
}

.header__languages {
    margin-bottom: 5px;
}

.header__link-tel{
  font-size: 10px;
  ine-height: 1.5;
}

.header__link{
  font-size: 16px;
}

.header__en {
    margin-right: 14px;
}

.header__mobile-list{
  display: none;
  background-color: #000000;
  opacity: 0.6;
  color: #ffffff;
  margin-bottom: -170%;
  z-index: 1;
  width: 160%;
  
}

.header__list {
    padding-bottom: 15px;
    padding-left: 15px;
    font-size: 20px;
    letter-spacing: 1.5px;
    border-bottom: 1px solid #ffffff;
}

.header__oder {
  margin-bottom: 0px;
}

/*food*/
  
  .food__foto {
    width: 100%;
    height: 100%;
}

.food{
  z-index: 0;
  
}

.food__title {
  font-size: 18px;
  margin-bottom: 10px;
  letter-spacing: 2px;
  line-height: 20px;
}
  
 .food__text {
   line-height: 20px;
}

.food__about {
  margin-left: 5%;
  margin-top: 5%;
  padding-right: 5%;
}

.food__button {
  padding: 5px 5px;
  margin-bottom: 20px;
  letter-spacing: 1px;
  padding: 5px 5px;
  font-size: 8px;
}

.food__btn {
  margin-top: 3%;
}

.food__link {
  margin-top: 5%;
  font-size: 10px;
}

/*menu*/

.menu {
  margin-top: 24px;
  width: 100%;
}

.menu__item {
  width: 24%;
}

.menu__title {
  margin-top: 10px;
  text-transform:none;
  letter-spacing: 1px;
  font-size: 16px;
}

.menu__text {
  display: none;    
}

.menu__btn {
  margin-top: 30%;
  height: 20px;
  width: 100%;
  font-size: 10px;
    }

.menu__link {
  margin-top: 10px;
  line-height: 20px;
  text-align: center;
  text-transform: none;
  letter-spacing: 1px;
}
  
  .menu__btnlink {
    font-family: Bebas,sans-serif;
    font-size: 8px;
    letter-spacing: 0px;
}

/*choose*/

.choose {
    margin-top: 5%;
    margin-bottom: 27px;
}

.choose__text {
  font-size: 20px;
  letter-spacing: 1px;
}
  
  .choose__text {
    font-size: 100%;
   
  }
  
/* .interpretation   */

.interpretation__item {
  display: block;
  width: 100%;
  height: 40%;
  margin-bottom: 38px; 

}

.interpretation__title{
  margin-top: 10px;
  text-align: center;
  height: 10%;
  font-size: 16px;
}

.interpretation__inf0{
  height: 200%;
}

.interpretation__img,
.interpretation__imgtop{
  width: 80px;
  height: 80px;
  

  }

.interpretation__images{
  text-align: center;
}

.interpretation__text{
  text-align: center;
 }

 /*footer*/

.footer__title {
  font-size: 20px;
  margin-bottom: 13px;
}

.footer__contactright {
    margin-left: 4%;
}

.footer__socialnetworks {
    display: flex;
    margin-top: 10%;
}

.footer__tel {
  margin-top: 15px;
}

.footer__contact {
  margin-bottom: 17px;
}

.footer__form-all {
  margin-top: 15px;
  margin-left: 20px;
}

.footer__form-name {
  font-size: 16px;
  letter-spacing: 1.5px;
  margin-bottom: 10px;
}

.footer_paragraph-area,
.footer_paragraph {
  width: 90%;
  margin-bottom: 18px;
}

.footer__btn {
  width: 50%;
  height: 20px;
  font-size: 8px;
}


.footer_paragraph {
  height: 28px;
}

.footer_paragraph-area{
  height: 50px;
}

.footer__bottom {
  margin-top: 39px;
  padding-bottom: 33px;
    
}

.footer__bottom-left{
  width: 40%;
}
  
.footer__email-text {
  margin-left: 10%;
  font-family: "PT Sans",sans-serif;
  font-size: 10px;
}
  
  .footer__text{
    font-size: 10px;
  }
  
  .footer__tel-number {
    font-size: 10px;
}
  
 .footer__contactright {
    padding-right: 14%;
}
  
 .footer__social-icon {
    margin-right: 15%;
}
  
.footer__social-img {
   width: 150%;
}
  
.footer__input, .footer__textarea {
   font-size: 8px;
}
  
 


}
 


